<% provide(:title, "Home") %>
<h1>Hello <%= current_user.email %></h1>
<h1>battle kitten</h1>
<h2>
  Find your kit here!
</h2>

<%= render 'static_pages/search' %>

<h2>Favorite Kits</h2>
<%= current_user.kit_lists.count %>
<% current_user.kit_lists.each do |kl| %>
  <h3><%= kl.origin_user %></h3>
<% end %>