<% provide(:title, "Home") %>
<h1>Battle Kitten</h1>
<h2>
  Find your kit here!
</h2>

<%= form_tag("/results", method: "get") do %>
  <%= label_tag(:origin_search_id, "Search for:") %>
  <%= text_field_tag(:origin_search_id) %>
  <%= submit_tag("Search") %>
<% end %>