<% provide(:title, "Results") %>
<h1>Battle Kitten</h1>

<% @result.kits.each do |loadout| %>
  <h2><%= loadout.name %></h2>
  <div class="row border rounded m-2 p-1 card-row-border">
    <% loadout.items.each do |item| %>
    <div class="col-sm-2 card-row">
      <div class="card h-100">
        <div class="card-header">
          <%= item.name %>
        </div>
        <div class="card-body">
          <%= image_tag item.image, class: 'card-img'%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>